<div class="container">
    <h1>create task</h1>


<div class="form-group">
    <label for="inputsm">task name:</label>
    <input class="form-control input-sm"  type="text" ng-model="task_name">
  </div>

  <div class="form-group">
    <label for="inputsm">last date:</label>
    <input class="form-control input-sm"  type="text" ng-model="last_date">
  </div>

  <div class="form-group">
    <label for="inputsm">status:</label>
    <input class="form-control input-sm"  type="text" ng-model="status">
  </div>
  <div class="form-group">
    <label for="inputsm">label:</label>
    <input class="form-control input-sm" type="text" ng-model="label">
  </div>


<div class="form-group">
   
  </div>
                <a ng-click="" class="btn btn-small">cancel</a>
                <a ng-click="createTask()" class="btn btn-small btn-primary" ng-model="forumbutton">create task</a>

              <!-- user-creation.html: -->
               <!-- <a ng-click="createNewUser()" class="btn btn-small btn-primary">delete</a>-->
            </div>
        </div>
    </form>
</div>
